SOAKafkaProducerPrj/SOA/WSDLs/kafkaProducerService.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="kafkaProducerService"
     targetNamespace="http://xmlns.oracle.com/SOAKafkaProducerApp/SOAKafkaProducerPrj/kafkaProducerService"
     xmlns:tns="http://xmlns.oracle.com/SOAKafkaProducerApp/SOAKafkaProducerPrj/kafkaProducerService"
     xmlns:inp1="http://TargetNamespace.com/kafkaProducerService_kafkaProducerOperation_request"
     xmlns:inp2="http://xmlns.oracle.com/SOAKafkaProducerApp/SOAKafkaProducerPrj/kafkaProducerService"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <plnk:partnerLinkType name="kafkaProducerService">
        <plnk:role name="kafkaProducerServiceProvider" portType="tns:kafkaProducerService_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/kafkaProducerService_kafkaProducerOperation_request"
                 schemaLocation="../Schemas/kafkaproducer_request_schema.xsd"/>
        </xsd:schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/SOAKafkaProducerApp/SOAKafkaProducerPrj/kafkaProducerService"
             elementFormDefault="qualified">
            <element name="empty">
                <complexType/>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="kafkaProducerOperation_inputMessage">
        <wsdl:part name="request" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="kafkaProducerOperation_outputMessage">
        <wsdl:part name="reply" element="tns:empty"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage">
        <wsdl:part name="Empty" element="tns:empty"/>
    </wsdl:message>
    <wsdl:portType name="kafkaProducerService_ptt">
        <wsdl:operation name="kafkaProducerOperation">
            <wsdl:input message="tns:kafkaProducerOperation_inputMessage"/>
            <wsdl:output message="tns:kafkaProducerOperation_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
